doctype html
html
  head
    title Neha Dance Academy
    block style
    block scripts
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/2.png")
                | Neha Dance Academy
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2021 NehaDanceAcademy.com | All Rights Reserved 
     
        