//- fill base template 
extends base.pug

block scripts
    script(src='../static/index.js')
block style 
    style
      include ../static/style.css
block content
    section#introSection
        div Welcome to Neha's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")

                div.card-content
                    p This is the best dance academy of the universe    
    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors
            img(src="/static/img/img1.png",alt="sponsor Image",Class="spImage")
            img(src="/static/img/img2.png",alt="sponsor Image",Class="spImage")
            img(src="/static/img/img3.png",alt="sponsor Image",Class="spImage")
            img(src="/static/img/img4.png",alt="sponsor Image",Class="spImage")      